li{
  list-style: none !important;
}
.header{
  position: fixed;
  background: #373c3f;
  width: 100%;
  height: 57px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
}
.nav{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  display: block;
  line-height: 6vh;
  text-align: center;
}
.nav ul{
  margin: 0 auto;
}
.nav li{
  display: inline-block;
  margin-right: 15px;
}
.nav a{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
}
.mobile-nav{
  display: none;
}
.mobile-nav span{
  color: #ffffff;
}
.mobile-nav .mobile-nav-trigger{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #202529;
  background-repeat: no-repeat;
  background-position: center;
}
.mobile-nav ul{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: none;
  position: fixed;
  background-color: #202529;
  width: 100%;
  left: 0;
}
.mobile-nav a{
  color: #ffffff;

}

#content{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: absolute;
  color: #333;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  top: 30%;
  left: 50%;
  margin-left: -40%;
  text-align: center;
  border: 1px solid #333;
}

.right{
  text-align: right;
  float: right;
  color: #fff;
  cursor: pointer;
  transition: .3s ease-in-out;
}
&:hover{
  color: #999;
}

@media only screen and (max-width: 500px){
   .header{
     background: transparent;
   }
}




@media only screen and (max-width: 640px){
  .header{
    height: 47px;
    padding-top: 27px;
    padding-left: 30px;
  }
  .nav{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  .mobile-nav span{
    font-size: 22px;
  }
  .mobile-nav .mobile-nav-trigger{
    height: 74px;
    width: 82px;
    background-image: url('http://www.xn--12cl2bdbn8kwa7a1a3m8cku.com/mobile-nav-medium-icon.png');
  }
  .mobile-nav ul{
    top: 74px;
    padding-bottom: 15px;
  }
  .mobile-nav li{
    padding: 10px 0 10px 30px;
  }
  .mobile-nav a{
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px){
  .header{
    height: 27px;
    padding-top: 10px;
    padding-left: 20px;
  }
  .nav{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  .mobile-nav span{
    font-size: 12px;
  }
  .mobile-nav .mobile-nav-trigger{
    height: 37px;
    width: 41px;
    background-image: url('http://www.xn--12cl2bdbn8kwa7a1a3m8cku.com/mobile-nav-icon.png');
  }
  .mobile-nav ul{
    top: 37px;
    padding-bottom: 10px;
  }
  .mobile-nav li{
    padding: 5px 0 5px 20px;
  }
  .mobile-nav a{
    font-size: 12px;
  }
}
